
<!DOCTYPE html>
<html>
<head>
  <title>SmartCode Reviewer</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>SmartCode Reviewer</h1>
  <form action="/analyze" method="post" enctype="multipart/form-data">
    <input type="file" name="code" required />
    <button type="submit">Analyze</button>
  </form>
</body>
</html>
